name: Lint & Type Check

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Nix
        uses: ./.github/actions/setup-nix

      - name: Run Lint
        run: nix develop --command pnpm run lint

      - name: Run Type Check
        run: nix develop --command pnpm run typecheck

      - name: Run Build
        run: nix develop --command pnpm run build
